<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Signin</title>
    <%- include('./partials/style') %>

</head>
<body>
    <%- include('./partials/nav') %>

    <div class="container mt-4">
        <form action="/user/signin" method="post">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label text-white px-1"
               style="font-size: large; font-weight: bold;" >Email address</label>
              <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text text-white px-1" style=" font-weight: bold;">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label text-white px-1" 
               style="font-size: large; font-weight: bold;">Password</label>
              <input name="password" type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
          </form>
    </div>

    <%- include('./partials/script') %>
    <%- include('./partials/footer')%>
</body>
</html>